<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Σελίδα Χρήστη</title>
    <link rel="stylesheet" href="user.css">
    <!-- Υποθέτουμε ότι έχουμε ένα αρχείο CSS για τον σχεδιασμό -->
</head>

<body>
    <header>
        <h1>
            <a href="/"></a>Καλωσήρθατε στη Σελίδα Χρήστη</a>
        </h1>
        <nav>
            <ul>
                <li><a href="/">Αρχική</a></li>
                <li><a href="/index">Εγγραφή</a></li>
                <li><a href="/login">Είσοδος</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Γενικές Πληροφορίες Ιατρείου</h2>
            <!-- Εδώ εμφανίζεται η γενική πληροφορία του ιατρείου -->
            <p><strong>Όνομα Ιατρείου:</strong> Ιατρείο Υγείας</p>
            <p><strong>Διεύθυνση:</strong> Παράδεισος 123, Πόλη, Ταχυδρομικός Κώδικας 12345</p>
            <p><strong>Τηλέφωνο:</strong> 1234567890</p>
            <p><strong>Ώρες Λειτουργίας:</strong> Δευτέρα - Παρασκευή, 8πμ - 5μμ</p>
            <p><strong>Υπηρεσίες:</strong> Γενική Ιατρική, Εξετάσεις Αίματος, Προληπτική Φροντίδα</p>

        </section>

    </main>
    <footer>
        <p>Πνευματικά Δικαιώματα © Έτος</p>
    </footer>
</body>

</html>