<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Σελίδα Ασθενούς</title>
    <link rel="stylesheet" href="patient_dash.css">
    <!-- Υποθέτουμε ότι έχουμε ένα αρχείο CSS για τον σχεδιασμό -->
</head>

<body>
    <header>
        <h1>Σελίδα Ασθενούς</h1>
        <nav>
            <ul>
                <li><a href="#manage-appointments">Διαχείριση Ραντεβού</a></li>
                <li><a href="#manage-info">Διαχείριση Πληροφοριών</a></li>
                <li><a href="#view-history">Εμφάνιση/Αναζήτηση Ιστορικού</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="manage-appointments">
            <h2>Διαχείριση Ραντεβού</h2>
            <!-- Προσθέστε τη φόρμα διαχείρισης ραντεβού εδώ -->
        </section>

        <section id="manage-info">
            <h2>Διαχείριση Πληροφοριών</h2>
            <!-- Προσθέστε τη φόρμα διαχείρισης πληροφοριών εδώ -->
        </section>

        <section id="view-history">
            <h2>Εμφάνιση/Αναζήτηση Ιστορικού</h2>
            <!-- Προσθέστε τη λειτουργικότητα εμφάνισης/αναζήτησης ιστορικού εδώ -->
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Σελίδα Γραμματέα</p>
    </footer>
</body>

</html>