<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="style_login.css">
</head>

<body>
    <header>
        <h1>
            <a href="/" class="btn-home">Καλωσήρθατε στο Ιατρείο μας</a>
        </h1>
        <nav>
            <ul>
                <li><a href="/index">Εγγραφή</a></li>
                <li><a href="/login">Είσοδος</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form id="loginForm" action="/login" method="POST">
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password" required><br><br>
            <div id="errorDiv" class="error-message"></div>
            <!-- Error message container -->
            <input type="submit" value="Login">
        </form>
    </main>
    <script>
        document.getElementById("loginForm").addEventListener("submit", async function (event) {
            event.preventDefault();

            // Καθαρισμός τυχόν προηγούμενων μηνυμάτων λάθους
            const errorDiv = document.getElementById("errorDiv");
            errorDiv.textContent = '';
            errorDiv.style.display = "none";

            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;

            try {
                const response = await fetch("/login", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        username,
                        password
                    })
                });

                if (!response.ok) {
                    throw new Error("Invalid username or password");

                } else {
                    const data = await response.json();
                    window.location.href = data.redirectUrl;
                }

            } catch (error) {
                console.error("Error:", error.message);
                // Handle error if needed
                // Display error message on the page
                const errorDiv = document.getElementById("errorDiv");
                errorDiv.textContent = error.message;
                errorDiv.style.display = "block";

                document.getElementById("password").value = "";

            }

        });
    </script>
</body>

</html>